* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: #f0f2f5;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 18px 20px;
    ;
}

.item {
    width: 100%;
    background: none;
    border: none;
    padding: 18px 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-height:  0;
    overflow: hidden;
    transition:max-height 0.35s ease, padding 0.3s;
    padding: 0 20px;
    font-size: 14px;
    color: #666;
}

.open {

    max-height: 200px;
    /* transition: max-height .4 ease-in-out; */
}


.arrow {
    transition: transform 0.3s;
}

.arrowSpin {
    transform: rotate(180deg);
    transition: transform 0.3s;
}